::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

body {
    font-family: Consolas, sans-serif;
    margin: 0;
    background-color: #d9dae2;
}

.content {
    margin: 0 auto;
    width: 1400px;
    height: 100vh;
}

.wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: max-content;
    width: inherit;
}

.hf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    height: 70px;
    min-height: 70px;
    width: inherit;
}

.header__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: max-content;
    margin: 0 20px;
}

.header__element a {
    color: #fff;
    text-decoration: none;
}

.header__element a:hover {
    text-decoration: underline;
}

main {
    margin: 0 auto;
    width: 1200px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: inherit;
    height: max-content;
}

.photo {
    margin: 25px 25px;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.photo img {
    height: 100%;
    width: auto;
}

.upload {
    margin: 25px 0;
}

footer {
    box-sizing: border-box;
    padding: 0 25px;
    background-color: black;
    color: white;
    height: max-content;
    min-height: 70px;
    width: inherit;
}