::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

body {
    font-family: Consolas, sans-serif;
    margin: 0;
    background-color: #d9dae2;
}

* {
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    width: 1400px;
    height: 100vh;
}

.wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: max-content;
    width: inherit;
}

.hf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    height: 70px;
    min-height: 70px;
    width: inherit;
}

.header__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: max-content;
    margin: 0 20px;
}

.header__element a {
    color: #fff;
    text-decoration: none;
}

.header__element a:hover {
    text-decoration: underline;
}

main {
    margin: 0 auto;
    width: 1200px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.notes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: inherit;
    height: max-content;
}

.notes:last-child {
    width: 1200px;
    margin-bottom: 20px;
}

.note {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: #ababab solid 1px;
    border-radius: 10px;
}

.note__title {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__name {
    height: inherit;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
    width: 400px;
}

.note__date {
    height: inherit;
    width: 200px;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}

.note__time {
    height: inherit;
    width: 600px;
    font-size: 18px;
    padding-top: 15px;
    text-align: right;
}

.note__divider {
    height: 1px;
    width: 98%;
    background-color: #ababab;
}

.note__message {
    width: inherit;
    padding: 25px 15px 25px;
}

.addNewNote {
    margin: 45px 0;
}

input[name='message'] {
   width: 600px;
}

footer {
    box-sizing: border-box;
    padding: 0 25px;
    background-color: black;
    color: white;
    height: max-content;
    min-height: 70px;
    width: inherit;
}