body {
    font-family: Consolas, sans-serif;
    margin: 0;
    background-color: #d9dae2;
}

.content {
    margin: 0 auto;
    width: 1400px;
    height: 100vh;
}

.wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: inherit;
}

.hf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    height: 70px;
    width: inherit;
}

.header__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: max-content;
    margin: 0 20px;
}

.header__element a {
    color: #fff;
    text-decoration: none;
}

.header__element a:hover {
    text-decoration: underline;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo_and_about {
    display: flex;
    align-items: center;
    width: inherit;
    height: max-content;
}

.photo {
    height: 300px;
    width: 300px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 300px;
}

.photo img {
    height: 100%;
    width: auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    height: max-content;
    margin-left: 25px;
}

.about__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.about__content {
    font-size: 18px;
    line-height: 25px;
    word-wrap: normal;
}

footer {
    box-sizing: border-box;
    padding: 0 25px;
    background-color: black;
    color: white;
    height: max-content;
    min-height: 70px;
    width: inherit;
}